<div class="articleCard">
    <img src="<%= article.cover %>" alt="<%= article.alt %>" class="cover">
    <div class="articlExtraInfos">
        <div>
            <h2 class="articleTitle"><%= article.title %></h2>
            <p class="articleSummary"><%= article.text %></p>
            <p class="articleDate"><%= article.date %> </p>
        </div>
        <a href="<%= article.path %>" class="readMore">read more</a>
    </div>
</div>